.tittle {
    color: white;
    font-size: 48pt;
    font-family: "Arial Rounded MT Bold";
    font-weight:bold;
}
.toolTip {
    color: white;
    font-size: 35pt;
    font-family: "Arial Rounded MT Bold";
    font-weight:bold;
}